<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
  <link rel="stylesheet" href="/css/techjobs.css">
</head>
<body>

<div th:replace="~{fragments :: page-header}"></div>

<div class="container body-content">

  <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

  <!-- Iterate over each job in jobs. Then display text from each item using thymeleaf. -->
  <!-- This is ultimately done by calling job-listing from the fragments.html file. -->
  <!-- View fragments.html for a further review of what's being asked in Task 2 -->
  <div th:replace="fragments :: job-listing"></div>

</div>

</body>
</html>