<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
</head>
<body>

<div th:replace="~{fragments :: page-header}"></div>

<div class="container body-content">

  <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

  <!-- Found correct mapping type here (post) -->
  <!-- Found correct terms here (searchType) -->
  <!-- columns gets added from the SearchController -->
  <!-- jobs gets added via the job-listing fragment from the SearchController -->
  <form th:action="@{/search/results}" method = "post">
    <h2>Search by:</h2>

    <p>

            <span th:each="column : ${columns}">
                <input
                        type="radio"
                        name="searchType"
                        th:id="${column.key}"
                        th:value="${column.key}"
                        th:checked="${column.key == 'all'}"/>
                <label th:for="${column.key}" th:text="${column.value}"></label>
            </span>

    </p>

    <p>
      <label for="searchTerm">Keyword:</label>
      <!-- Found correct terms here (searchTerm)-->
      <input type="text" name="searchTerm" id="searchTerm" />
    </p>

    <input type="submit" value="Search" />
  </form>

  <hr />

  <!-- Loop over the search results to display all job fields. -->
    <!-- Iterate over each job in jobs. Then display text from each item using thymeleaf. -->
    <!-- This is ultimately done by calling job-listing from the fragments.html file. -->
    <!-- View fragments.html for a further review of what's being asked in Task 4 -->
    <div th:replace="fragments :: job-listing"></div>

</div>

</body>
</html>
